*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Sensitive files
keystore/
*.jks
*.keystore
*.properties

# API Keys - NO COMMIT
env.properties
.env
api_key.properties

# Logs
*.log

# Test results
/test-results/
/androidTests/
